

.toolbar{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    width: 100%;
    padding-bottom: 20px;
    /* background-color: red; */
    justify-content: center;
    align-items: top;
}

.toolbar-btn{
    width: 100px;
    height: 30px;
    font-family: 'Karla', sans-serif;
    font-size: 0.9rem;
    border-radius: 5px;
    background-color: #FFF6FF;
    cursor: pointer;
    border-color: #FFF6FF;
}